body {
    background-color:honeydew;
}

p.ctext1 {
    color: black;
  }

h1.title1 {
    font-size: large;
    text-align: center;
}

#p1 {
    background-color: cyan;
    text-align: center;
    width: 800px;
    height: 400px;
}