#navbartop {
    list-style-type: none;
    background-color: black;
    text-align: right;
    border-radius: 0;
    border: 0px;
    margin: 0;
    padding: 0;
}

#navbarlogo {
    background-image: url("hpvaxicon.png");
    background-size: 150px;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 150px;
    height: 150px;
    margin-top: 10px;
    margin-left: 10px
}

.navbar {
    box-sizing: border-box;
    transition-duration: 0.2s;
    border: 2px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block; 
    padding: 14px 16px;
}

.navbar:hover {
    background-color: aqua;
}

body {
    background-color: honeydew;
    font-size: 24px;
    font-family: 'Noto Sans TC', sans-serif;
}

#video {
    display:block;
    margin: auto;
}

h1 {
    color: black;
    font-size: 70px;
    text-align: center;
}

p {
     color: black; 
     background-color: lightskyblue;
     width: 1000px;
     font-size: 20px;
     box-sizing: border-box;
     border-radius: 20px;
     padding-top: 60px;
     padding-left: 40px;
     padding-right: 40px;
     padding-bottom: 20px;
     margin-left: auto;
     margin-right: auto;
}