body {
    background-color: honeydew;
}

p.ctext1 {
    color: black;
  }

.title1 {
    font-size: 40px;
    text-align: center;
}

#p1 {
    background-color: cyan;
    text-align: center;
    width: 800px;
    height: 400px;
}